.texto-negro{
    font-weight: bold;
}
.mayuscula{
    text-transform: uppercase;
    background-color: rgb(154, 171, 172);
}
#foot-col{
    text-align:center;
    font-size: 20px;
}
header{
    background-color:rgb(233, 228, 222);;
}
h1{
    background-color: rgb(154, 171, 172);
    font-size: 30px;
    text-align: center;

}
img{
    display: block;
    margin: auto;
}
footer{
    background-color: blue;
}